
[package]
name = "death_mountain_beast"
version = "1.0.0"

keywords.workspace = true
edition.workspace = true
cairo-version.workspace = true
scarb-version.workspace = true
authors.workspace = true
description.workspace = true
documentation.workspace = true
repository.workspace = true
license-file.workspace = true

[tool]
fmt.workspace = true
scarb.workspace = true

[dependencies]
starknet.workspace = true
death_mountain_combat = { path = "../combat" }

[dev-dependencies]
assert_macros.workspace = true
snforge_std.workspace = true

[lib]